*{margin: 0; padding: 0;}

body{}

input{
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #e2dfdf;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

/* 전체 영역 */
.container {
    width: 100%;
    height: 100vh;  
}

/* 로그인 박스 */
.login-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: skyblue;      
}
/* 중첩박스(inner) */
#login {width:100%; height: 100%;
display: flex; 
flex-direction: column;
align-items: center;
}


/* 로고 */
#login .login-logo{
    height: 100px;
    margin-top: 0px;
    margin-bottom: 20px;  
    display: flex;
    justify-content: center;
    
}

#login .login-logo img { width: 60%; height: 100px; object-fit: contain;} 

/* 아이디/비밀번호 */
#login .login-inputbox {
    position: relative;
    width: 80%;
    height: 40px;
    margin-bottom: 5px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
#login .login-inputbox input{
    width: 80%;
    height: 40px;
    padding-left: 5px;
    font-size: 0.8rem;
    border-bottom: 1px solid #aaa; /* #login .login-inputbox input::placeholder{color: #aaa;} */
    box-sizing: border-box;
    border-radius: 5px;
    
}

/* 버튼 */
#login .login-btnbox {
    width: 80%
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login .login-btnbox .login-btn {
    background-color: cornflowerblue;
    color: white;
    font-size: 1.2rem;
   
    line-height: 50px;
    border-radius: 5px;
    width: 80%;} 

/* 밑줄 */
#login .horizon {
display: flex;
  margin-top: 20px;
  padding: 0 40px;
  align-items: center;
  width: 100%
}

#login .horizon .leftHr{
    width: 40%;
    height: 1px;
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

#login .horizon .rightHr{
    width: 40%;
    height: 1px;
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}


#login .facebook {
    width: 60%; height: 30px;
    color: #385185
    
}
button { 
    outline: none;
    border: none;
    background-color: transparent; 
}
#login .facebook img{width: 100%; height: 30px; object-fit: contain;}
#login .password {margin-top: 20px;}
#login .account {margin-top: 20px;}


