
.container {
    position : relative;
    width: 1024px;
    min-height: 500px;
    border: 5px dashed orange;
    margin: auto;
}

h1 { text-align: center;}

.inner::after {
    display: block;
    content: '';
    clear: both; /* 여기서 clear 되서, next에 영향 미치지 않는다 */
}

.item {
    width: 300px;
    height: 200px;
}

.left {float: left; background-color: pink;}
.right { float: right; background-color: lightblue;}
.next { background-color: cornflowerblue;}

.clear-left { clear: left;}
.clear-right { clear: right;}
.clear-both { clear: both;}