
.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}

li {
   display: inline;                 /* width, height 적용이 안 됨 */
   display: inline-block;           /* width, height 적용 됨 */
    /* inline       : 크기를 가지지 않고, 한 줄에 나란히 배치 */
    /* block        : 크기를 가지면서, 한 줄 전체를 차지하면서 배치 */
    /* inline-block : 크기를 가지면서, 한 줄에 나란히 배치 */
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 10px 20px;
    text-align: center;
}

li:hover {
    background-color:  #ddd;
    cursor: pointer;
}

/* 화면에 보이지 않게 지정 */
.none { display: none; }
.hidden { visibility: hidden; }

/* 
 display : none;
 - 요소 자체를 생성하지 않는다.
   크기를 차지 하지 않는다

  visibility : hidden;
 - 요소를 생성하지만, 출력하지 않는다
   크기를 차지한다
*/

/* grid */
.grid-container {
    display: grid;
    /* 
        grid-template-colums
        - Grid 레이아웃의 열의 크기를 지정하는 속성
        (여기서는 3개의 열의 크기를 auto 로 지정)
    */
    grid-template-columns: auto auto auto;
    background-color: royalblue;
    padding: 10px;
}

.item {
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.item img {width: 100%;}

/* flex */
.row {
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap : 아이템들의 줄바꿈 여부를 지정하는 속성 */
    padding: 0 4px;
}

.col {
    flex-basis: 33.3333%;
    min-width: 33.3333%;
    padding: 0 4px;
    box-sizing: border-box;
}

.col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}